    <div class="row-fluid">
        <div class="span4">
            <h2>{{ include.title }}</h2>
        </div>
        <div class="span8 artstyle">
            <table class='table detop'><tbody>
                    {% for person in site.people %}
                    {% if person.path contains include.category %}
                    <tr>
                        <td style='text-align: center;
                            padding-top: 12px;
                            width: 300px'>
                            {% if person.image %}
                            <img src="/assets/people/{{ person.image }}" width="200">
                            {% else %}
                            <i class="icon-user"></i>
                            {% endif %}
                        </td>
                        <td>
                            <h3>{{ person.title }}</h3>
                            {{ person.output }}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
            </tbody></table>
        </div> <!--/span-->
    </div> <!--/row-->
