<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-US">  <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en_US"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en_US"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{{page.title}} | Liu Lab at UC Irvine</title>
  <script src="/js/vendor/modernizr-2.5.3.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.7.2.min.js"><\/script>')</script>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Merriweather|Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body class="{{page.class}}">
    <div class="hero-background">&nbsp;</div>
    <div class="container-fluid">
        <div class="row-fluid header">
            <div class="span5">
                <h1><a href="/">Liu&nbsp;Laboratory</a></h1>
            </div>
            <nav class="span7">
                <ul>
                    <li><a href="/research">Research</a></li>
                    <li><a href="/people">People</a></li>
                    <li><a href="/publications">Publications</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div> <!--/row-->
